.container{
    width: 100%;
    max-width: 960px;
    margin: auto;
}
#title {
    font-family: "Arial Black", cursive;
    text-align: center;
    font-size: 30px;
    color: brown;
}
#genre {
    font-family: "Arial Black", cursive;
    text-align: center;
}
#img img {
    width: 10%;
    height: auto;
    text-align: left;
}